/* These CSS settings are embedded directly in the presentation html */

/* This prevents auto-capitalization of headers */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

a.top-left {
    position: absolute;
    z-index: 1;
    width: clamp(50px, 8vmax, 80px);
    line-height: 0;
    color: rgba(255, 255, 255, 0.5);
}

a.top-left path {
    fill: #258bd2;
}

a.top-left:hover {
    color: white;
}

a.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
